* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Scada:wght@400;700&display=swap");

body,
html {
  font-family: "Scada", sans-serif;
}

:root {
  --color-p-form: #ebe1ef;
  --color-p-section: #170025;
  --p-color-placeholder: #26003eb0;
  --bg-color-form: #170025;
  --bg-footer: #0e0016;
  --bg-btn: #8b54ff;
  --bg-modal: #170025da;
  --bg-color-carrusel: #26003e;
  --input-border-color: #9ca6ff;
}
/*MAIN CONTAINER*/
.container {
  display: flex;
  flex-direction: row;
}

/*HEADER*/
/*SLIDE*/

.container-header {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
}
.content-slider {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.content-slider:nth-child(2) {
  background: var(--color-p-section);
}

.content-slider:nth-child(3) {
  background: var(--bg-btn);
}

.content-slider > img {
  width: 100%;
}

.content-slider > div {
  width: 100%;
}

.img-size {
  height: 70vh;
}

/*FORM SECTION*/

.ContainerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 3rem auto;
  width: 55%;
  min-height: 20vh;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 2rem;
  margin: auto 1rem;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
  background-color: var(--bg-color-form);
  border-radius: 1rem;
}

.title-form {
  color: var(--color-p-form);
}

.input,
.btnSend {
  border-radius: 0.3rem;
  margin: 0.5rem;
  border: 0.2rem solid #9ca6ff;
  padding: 0.3rem;
  outline: none;
  font-size: 1rem;
}

.input:hover {
  border: 0.3rem solid #8b54ff;
  transition: 0.5s;
}

.btnSend {
  background: var(--bg-btn);
  color: var(--color-p-form);
  width: 10rem;
  padding: 0.5rem;
  border-radius: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.btnSend:hover {
  background: var(--input-border-color);
  color: var(--bg-color-form);
  transition: 0.5s;
  font-weight: bold;
}

input::placeholder {
  color: var(--p-color-placeholder);
}

.house {
  margin: 5rem 1rem;
  width: 50%;
}

/*TEXT SECTION*/
.title,
.description {
  color: var(--color-p-section);
}

h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.line {
  border-left: 0.1rem solid #170025;
  margin-right: 1.1rem;
}

/*CAROUSEL*/
/*TITLE*/
.title-cont-corousel {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -8rem;
  background: var(--bg-color-carrusel);
  margin-top: 4rem;
  padding: 1.5rem;
}

.title-carousel {
  color: var(--color-p-form);
}

.carousel {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  padding: 1.5rem;
  width: 100%;
  background-color: var(--bg-color-carrusel);
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.title-cont-corousel {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -8rem;
  background: var(--bg-color-carrusel);
  margin-top: 4rem;
  padding: 1.5rem;
}

.title-carousel {
  color: var(--color-p-form);
}

.img-carousel {
  margin-left: 1rem;
  border: 0.5rem solid #0e001621;
  border-radius: 1rem;
  height: 75%;
  animation: picture-carousel 10s infinite linear;
}

.img-carousel:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.5rem;
}
/*CAROUSEL ANIMATION*/
@-webkit-keyframes picture-carousel {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 3));
    transform: translateX(calc(-200px * 3));
  }
}

@keyframes picture-carousel {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 3));
    transform: translateX(calc(200px * 3));
  }
}

/*FOOTER*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background: var(--bg-footer);
}

.info,
.info-uf,
.border {
  height: 25vh;
  margin: 1rem;
  border-left: 0.1rem solid #8b54ff;
  color: var(--input-border-color);
}

.logo-github {
  margin-left: 3rem;
}

.color {
  color: var(--input-border-color);
}

.border {
  margin: 1rem;
}

.unicorn-img,
.a-img {
  width: 5rem;
}

#date {
  color: var(--color-p-form);
  margin-top: -6rem;
  margin-left: 0.5rem;
}

a,
.link-repo > i {
  color: var(--color-p-form);
  text-decoration: none;
  margin: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

a:hover {
  color: #9ca6ff;
  transition: 0.5s;
  text-decoration: underline;
}
.info-uf {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  display: grid;
}

.colorBottom {
  width: 100%;
  background-color: var(--bg-color-form);
}

/*ERROR MSG*/
.error {
  color: red;
  font-weight: 300;
  margin-left: 0.8rem;
  padding-bottom: 0.5rem;
  font-size: smaller;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: var(--bg-modal);
  margin: auto;
  padding: 20px;
  border: 0.1rem solid #170025;
  width: 60%;
}

/* The Close Button */
.close {
  color: var(--input-border-color);
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*MODAL TEXT*/
.modalTxt {
  color: var(--color-p-form);
  font-size: 1.5rem;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}
/*MEDIA*/

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .form {
    width: auto;
  }
  .carousel {
    flex-direction: column;
  }
  .ContainerSection {
    width: 100%;
  }
  .content-slider > img {
    width: 100%;
    object-fit: cover;
  }
  .content-slider > div {
    width: 40%;
  }
  .logo-github {
    margin-left: 1rem;
  }
}
